<h1>A Node View</h1>
{{result.firstName}}
<br>
{{result.lastName}}
<br>
{{result.email}}
<br>
<form action="/" method="post">
    <input type="text" id="firstName" name="firstName">
    <input type="text" id="lastName" name="lastName">
    <input type="password" id="password" name="password">
    <input type="email" id="email" name="email">
    <button type="submit">Submit</button>
</form>